h1	{border-style: ridge; border-color: #F00080; border-width: 5pt;color: blue;
	text-align: center; padding: 2pt; width: 50%; margin-left: auto;
	margin-right: auto; margin-bottom: 30pt;}
p 	{font-weight: bold; color: #F00080; text-indent: 30pt;}
select {font-style: italic; font-weight: bold; background-color: aqua; color: blue;}
.htpg 	{background-color: aqua; padding: 10pt;}
.mlpg 	{background-color: lime; padding: 10pt;}
.bspg 	{background-color: #00BFFF; padding: 10pt;}
/*/* style attendu pour Rugby 

titre : bordure effet 3D foncé/clair de couleur rgb(240,0,128) d'épaisseur 5pt
        texte de couleur blue, centré
        marge intérieure de 2pt
        réduire l'élément et le centrer
        marge extérieure basse de 30pt

paragraphe : en gras, de couleur rgb(240,0,128),
             avec un décalage de 30pt pour la 1ère ligne

liste déroulante : texte en italique, gras, de couleur blue sur un fond aqua 
 
haut de page : fond aqua, marge intérieures 10pt

milieu de page : fond lime, marge intérieures 10pt

bas de page : fond rgb(0,191,255), marge intérieures 10pt*/